*>* {
    padding: 10px;
}
.dash-body {
    outline: 1px dashed  black;
    display: flex;
    flex-direction: column;
}

.dash-nav {
    display: flex;
    outline: 1px dashed red;
    justify-content: center;
    align-content: center;
}

.title {

}

.nav-links {

}

.dash-main {
    display: flex;
    outline: 1px dashed red;
    justify-content: space-around;
    align-content: center;
}

.dash-left {
    outline: 1px dashed orange;
}

.dash-left > ul {
    display: flex;
    flex-direction: column;
}
.dash-left > ul > li {
    width: 350px;
}

.dash-center {
    outline: 1px dashed orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.dash-right {
    outline: 1px dashed orange;
    display: flex;
    padding-bottom: 20%;
    flex-direction: column;
    justify-content: center;
}

#tops {
    max-width: 500px;
    max-height: 500px;
    border: black dashed 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#tops > button {
    justify-self: center;
    height: 50px;
}
#bottom {
    width: 250px;
    height: 250px;
    border: black dashed 1px
}

#continue > #createPlus {
    height: 110px;
    width: 110px;
}

.closet-links {
    margin: 0;
    padding: 10% 0% 0% 0px;
    list-style: none;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
    font-size: large;
    text-align: center;
}

#shirts {    
    background-image: url(../../../z_addtls/Icons_Images/Icons/shirts.jpg);
}
#pants {    
    background-image: url(../../../z_addtls/Icons_Images/Icons/pants.jpg);
}
#dresses {    
    background-image: url(../../../z_addtls/Icons_Images/Icons/dresses.jpg);
}
#shoes {    
    background-image: url(../../../z_addtls/Icons_Images/Icons/shoes.jfif);
}
#accessories {    
    background-image: url(../../../z_addtls/Icons_Images/Icons/accessories.png);
}
#pajamas {    
    background-image: url(../../../z_addtls/Icons_Images/Icons/pajamas.png);
}
#warm {   
    background-image: url(../../../z_addtls/Icons_Images/Icons/warm.jfif);
}
#cold {  
    background-image: url(../../../z_addtls/Icons_Images/Icons/cold.jfif);
}