
*>* {
    padding: 10px;
}
.body {
    outline: 1px dashed  black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color:darkslategray;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: aliceblue;
    border-bottom: 3px double darkblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {

}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 150px;
    background-color: steelblue;
    margin: 10px;
    height: 40px;
    outline: 1px solid white;
}

#nav-icons {
    height: 40px;
    width: 40px;
}
#addNewBtn {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 25px;
}

.main {
    display: flex;
    flex-direction: row;
    outline: 1px dashed red;
    justify-content: center;
    gap: 30px;
    align-content: center;
}

.dash-left {
    outline: 1px dashed orange;
}

.dash-left > ul {
    display: flex;
    flex-direction: column;
}
.dash-left > ul > li {
    width: 350px;
}

.dash-center {
    outline: 1px dashed orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.dash-right {
    outline: 1px dashed purple;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#image-div {
    display: flex;
    justify-content: center;
    align-content: center;
}

#laundry-link {
    align-self: center;
    justify-content: center;
    outline: 2px solid purple;
    width: 300px;
    height: 550px;
    border: 1px solid white;
    border-radius: 55%;
}

#links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}
#tops {
    max-width: 500px;
    max-height: 500px;
    border: black dashed 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#bottom {
    max-width: 500px;
    max-height: 500px;
    border: black dashed 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#scrollButtons {
    height: 30px;
    min-width: min-content;
    margin: 5px;
    align-self: center;
}
#currentShirt, #currentPant {
    height: 300px;
    width: 300px;
}

#continue > #createPlus {
    height: 110px;
    width: 110px;
}
.allShirts, .allPants {
    width: 120px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
}
#allImages {
    height: 40px;
    width: 40px;
}
.closet-links {
    margin: 0;
    padding: 10% 0% 0% 0px;
    list-style: none;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
    font-size: large;
    text-align: center;
}

#shirts {    
    background-image: url(../../../z_addtls/Icons_Images/Icons/shirts.jpg);
}
#pants {    
    background-image: url(../../../z_addtls/Icons_Images/Icons/pants.jpg);
}
#dresses {    
    background-image: url(../../../z_addtls/Icons_Images/Icons/dresses.jpg);
}
#shoes {    
    background-image: url(../../../z_addtls/Icons_Images/Icons/shoes.jfif);
}
#accessories {    
    background-image: url(../../../z_addtls/Icons_Images/Icons/accessories.png);
}
#pajamas {    
    background-image: url(../../../z_addtls/Icons_Images/Icons/pajamas.png);
}
#warm {   
    background-image: url(../../../z_addtls/Icons_Images/Icons/warm.jfif);
}
#cold {  
    background-image: url(../../../z_addtls/Icons_Images/Icons/cold.jfif);
}